<mat-dialog-content>

    <p>This room is password protected, please enter the:</p>
    <mat-form-field class="example-full-width">
        <input (keyup.enter)="enter(password.value)" #password matInput tabindex="1" placeholder="Password" >
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close tabindex="3" color="accent" >Cancel</button>
    <button mat-button (click)="enter(password.value)" tabindex="2" color="primary">Enter</button>
</mat-dialog-actions>