<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="content-area overflow-auto">

                <h5 class="card-title">Room name: </h5>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>

                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
                <p class="card-text"><small class="text-muted">user</small></p>
                <p class="card-text">messages............</p>
            </div>

            <div class="input-group mb-3">
                <input [(ngModel)]="message" type="text" class="form-control" placeholder="message"
                    aria-label="message">
                <div class="input-group-append">
                    <button 
                        (click)="sendMessage()" 
                        [disabled]="isEmpty()"
                        class="btn btn-outline-secondary" 
                        type="button">
                        Send
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>