<div class="container">


        <form [formGroup]="chatroomForm" (ngSubmit)="add()">
    
            <div class="form-group">
                <label for="roomName">Name of the Room</label>
                <input formControlName="roomName" class="form-control" id="roomName" name="roomName" required>
            </div>
            <div *ngIf="roomName.touched && roomName.invalid" class="alert alert-danger">
    
                <div *ngIf="roomName.errors.minlength">Room name should be minimum of 4 character.</div>
                <div *ngIf="roomName.errors.required">Room name is required.</div>
            </div>
    
            <div class="form-group">
                <label for="accessability">Accessability</label>
    
                <select formControlName="accessibility" class="form-control" id="accessability">
                    <option *ngFor="let access of accessTypes" [ngValue]="access"> {{ access }} </option>
                </select>
            </div>
    
            <div *ngIf="chatroomForm.value.accessibility == 'protected'">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input 
                        [required]="chatroomForm.value.accessibility == 'protected'"
                        formControlName="password" 
                        type="password" class="form-control" id="password">
                </div>
                <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password should be minimum of 4 character.</div>
                </div>
            </div>
    
            <div *ngIf="isFormInvalid" class="alert alert-danger">
                <div>Please fill out the form.</div>
            </div>
    
            <div *ngIf="isRoomAdded" class="alert alert-success">
                <div>Room is successfully added.</div>
            </div>
    
            <button type="submit" class="btn btn-primary">Submit</button>
    
        </form>
    </div>