$primary-color: #2196F3;
$dark-primary-color: #1976D2;
$accent-color: #607D8B;
$divider-color: #BDBDBD;
$primary-text-color: #FFFFFF;
$light-primary-color: #B3E5FC;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: $dark-primary-color;
    cursor: pointer;
  }
  
  .active {
    background-color: $light-primary-color;
  }