<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <div class="content-area overflow-auto">
                <ul class="nav flex-column">
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                    <li>user</li>
                </ul>
            </div>
        </div>
    </div>
</div>