.content-area {
    height: 600px;
}

hr {
    margin: 0;
    padding: 0;
}

button {
    margin-bottom: 10px;
    float: right;
}

a {
    font-weight: 600;
    cursor: pointer;
}

.margin-top {
    margin-top: 40px;
}
