<div class="margin-top">
    <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-3">
            <app-chat-partners></app-chat-partners>
        </div>

        <div class="col-sm-12 col-md-8 col-lg-6">
            <div class="container-fluid">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="content-area overflow-auto">

                            <h5 class="card-title">
                                Chat partner: {{ partnerName }}
                            </h5>
                            <hr>

                            <ng-container *ngFor="let message of messages$ | async">
                                <p><small class="text-muted">{{ message.senderName }}:</small></p>
                                <p class="card-text">{{ message.content }}</p>
                                <hr>
                            </ng-container>

                        </div>

                        <div class="input-group mb-3">
                            <input [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()" type="text"
                                class="form-control" placeholder="message" aria-label="message">

                            <div class="input-group-append">
                                <button (click)="sendMessage()" [disabled]="!canSend()"
                                    class="btn btn-outline-primary" type="button">
                                    Send
                                </button>
                            </div>

                            <div *ngIf="serverErrorMessage" class="alert alert-danger">{{serverErrorMessage}}</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>