<div class="container-fluid">
    <div class="card mb-3">
        <div class="card-body">
            <div class="content-area overflow-auto">

                <h5 class="card-title">        
                    Room name: <div *ngIf="room, then roomOpened else noRoomOpened"></div>
                    <ng-template #roomOpened>{{room.name}}</ng-template>
                    <ng-template #noRoomOpened> Open a room on the sidebar -></ng-template>
                </h5>

                <hr>

                <ng-container *ngFor="let message of messages$ | async">
                    <p ><small class="text-muted">{{ message.username }}:</small></p>
                    <p class="card-text">{{ message.content }}</p>
                    <hr>
                </ng-container>

            </div>

            <div class="input-group mb-3">
                <input [(ngModel)]="inputMessage" (keyup.enter)="sendMessage()" type="text" class="form-control" placeholder="message"
                    aria-label="message">
                    
                <div class="input-group-append">
                    <button (click)="sendMessage()" [disabled]="canSend()" class="btn btn-outline-secondary" type="button">
                        Send
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>