<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <div class="content-area overflow-auto">
                <ul class="nav flex-column">
                    <li>Online users:</li>
                    <hr>
                    <ng-container *ngFor=" let user of users$ | async ">
                        <li *ngIf="user.state == 'online'"> {{ user.displayName }} | <a routerLink="/private">send</a></li>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>
</div>